<table class="table">

  <tr>
    <td><strong>Party type:</strong></td>
    <td><%= party.party_type %></td>
  </tr>

  <tr>
    <td><strong>Full name:</strong></td>
    <td><%= party.full_name %></td>
  </tr>

  <tr>
    <td><strong>Created at:</strong></td>
    <td><%= party.created_at %></td>
  </tr>

  <tr>
    <td><strong>Updated at:</strong></td>
    <td><%= party.updated_at %></td>
  </tr>

  <tr>
    <td><strong>Created by:</strong></td>
    <td><%= party.creator.username %></td>
  </tr>

  <tr>
    <td><strong>Updated by:</strong></td>
    <td><%= party.updater.username %></td>
  </tr>

</table>