<div id="<%= dom_id party %>">
  <p>
    <strong>Party type:</strong>
    <%= party.party_type %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= party.full_name %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= party.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= party.updated_at %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= party.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= party.updated_by_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= party.data %>
  </p>

</div>
