<div id="<%= dom_id prcmt_item %>">
  <p>
    <strong>Prcmt:</strong>
    <%= prcmt_item.prcmt_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= prcmt_item.number %>
  </p>

  <p>
    <strong>Purch reqn item:</strong>
    <%= prcmt_item.purch_reqn_item_id %>
  </p>

  <p>
    <strong>Product group:</strong>
    <%= prcmt_item.product_group_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= prcmt_item.product_id %>
  </p>

  <p>
    <strong>Desired vendor:</strong>
    <%= prcmt_item.desired_vendor %>
  </p>

  <p>
    <strong>Fixed vendor:</strong>
    <%= prcmt_item.fixed_vendor %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= prcmt_item.qty %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= prcmt_item.measurement_unit_id %>
  </p>

  <p>
    <strong>Est unit price:</strong>
    <%= prcmt_item.est_unit_price %>
  </p>

  <p>
    <strong>Price unit:</strong>
    <%= prcmt_item.price_unit %>
  </p>

  <p>
    <strong>Est subtotal:</strong>
    <%= prcmt_item.est_subtotal %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= prcmt_item.currency_id %>
  </p>

  <p>
    <strong>Purch group:</strong>
    <%= prcmt_item.purch_group_id %>
  </p>

  <p>
    <strong>Requisitioner:</strong>
    <%= prcmt_item.requisitioner %>
  </p>

  <p>
    <strong>Expected delivery date:</strong>
    <%= prcmt_item.expected_delivery_date %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= prcmt_item.desc %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= prcmt_item.data %>
  </p>

  <p>
    <strong>Specification:</strong>
    <%= prcmt_item.specification %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= prcmt_item.note %>
  </p>

  <p>
    <strong>Prcmt award item:</strong>
    <%= prcmt_item.prcmt_award_item_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= prcmt_item.state %>
  </p>

  <p>
    <strong>Awarded at:</strong>
    <%= prcmt_item.awarded_at %>
  </p>

  <p>
    <strong>Po processed:</strong>
    <%= prcmt_item.po_processed %>
  </p>

</div>
