<p style="color: green"><%= notice %></p>

<%= render @latihan %>

<div>
  <%= link_to "Edit this latihan", edit_latihan_path(@latihan) %> |
  <%= link_to "Back to latihans", latihans_path %>

  <%= button_to "Destroy this latihan", @latihan, method: :delete %>
</div>
