<div id="<%= dom_id purch_org %>">
  <p>
    <strong>App:</strong>
    <%= purch_org.app_id %>
  </p>

  <p>
    <strong>Party:</strong>
    <%= purch_org.party_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= purch_org.code %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= purch_org.from_date %>
  </p>

  <p>
    <strong>Thru date:</strong>
    <%= purch_org.thru_date %>
  </p>

</div>
