<%= form_with(model: model, data: { turbo: false }) do |form| %>
  <% modal_id = "approval-modal-#{action}" %>
  <% modal_confirm_id = "#{action}-confirm" %>
  <%= form.hidden_field :action, value: action %>
  <% content_for :confirm_button, flush: true do %>
    <%= form.button class: "btn btn-secondary", data: { 'bs-dismiss': "modal" } do %>
      <i class="ti ti-save"></i> Continue
    <% end %>
  <% end %>
  <%= render 'shared/modal_confirmation', id: modal_confirm_id, back: "##{modal_id}" %>

  <% content_for :modal_button, flush: true do %>
    <%= button_tag type: :button, class: "btn btn-#{action == :approve ? 'success' : 'danger'}", data: { 'bs-toggle': 'modal', 'bs-target': "##{modal_confirm_id}" } do %>
      <%= action.capitalize %>
    <% end %>
  <% end %>
  <% content_for :modal_body, flush: true do %>
    <label for="comment" class="form-label">Comment</label>
    <%= form.text_area :comment, class: 'form-control' %>
  <% end %>
  <%= render 'shared/modal', id: modal_id, title: "#{action.capitalize} Purchase Requisition" %>
<% end %>
