<div id="<%= dom_id task %>">
  <p>
    <strong>Id:</strong>
    <%= task.id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= task.number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Taskable:</strong>
    <%= task.taskable_id %>
  </p>

  <p>
    <strong>Taskable type:</strong>
    <%= task.taskable_type %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= task.data %>
  </p>

  <p>
    <strong>State:</strong>
    <%= task.state %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= task.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= task.updated_by_id %>
  </p>

</div>
