<%= form_with(model: purch_reqn_link_type) do |form| %>
  <% if purch_reqn_link_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purch_reqn_link_type.errors.count, "error") %> prohibited this purch_reqn_link_type from being saved:</h2>

      <ul>
        <% purch_reqn_link_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :app_id, style: "display: block" %>
    <%= form.text_field :app_id %>
  </div>

  <div>
    <%= form.label :ident_name, style: "display: block" %>
    <%= form.text_field :ident_name %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :desc, style: "display: block" %>
    <%= form.text_area :desc %>
  </div>

  <div>
    <%= form.label :system, style: "display: block" %>
    <%= form.check_box :system %>
  </div>

  <div>
    <%= form.label :created_by, style: "display: block" %>
    <%= form.text_field :created_by %>
  </div>

  <div>
    <%= form.label :updated_by_id, style: "display: block" %>
    <%= form.text_field :updated_by_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
