<div id="<%= dom_id purch_reqn_link_type %>">
  <p>
    <strong>App:</strong>
    <%= purch_reqn_link_type.app_id %>
  </p>

  <p>
    <strong>Ident name:</strong>
    <%= purch_reqn_link_type.ident_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= purch_reqn_link_type.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= purch_reqn_link_type.desc %>
  </p>

  <p>
    <strong>System:</strong>
    <%= purch_reqn_link_type.system %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= purch_reqn_link_type.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= purch_reqn_link_type.updated_by_id %>
  </p>

</div>
