<p style="color: green"><%= notice %></p>

<%= render @purch_reqn_link_type %>

<div>
  <%= link_to "Edit this purch reqn link type", edit_purch_reqn_link_type_path(@purch_reqn_link_type) %> |
  <%= link_to "Back to purch reqn link types", purch_reqn_link_types_path %>

  <%= button_to "Destroy this purch reqn link type", @purch_reqn_link_type, method: :delete %>
</div>
