<% content_for :content do %>
  <img src="https://api-eproc-langgak.sprcorp.com:443/shared/images/header.jpg" style="position: absolute; top: 0; width: max-content; left: 0; width: 100%; filter: brightness(0.8);">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row justify-content-center" style="margin: 10% 0;">
      <div class="col-md-5 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">
            <b class="text-center">Login E-partners</b>
            <a href="./" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <%= image_tag "logo.png" %>
            </a>
            <form>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'form-control' %>
              </div>
              <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
              </div>
              <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="form-check">
                  <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label text-dark" for="flexCheckChecked">
                    Remeber Me
                  </label>
                </div>
                <%= link_to 'Forgot Password ?', new_password_path(resource_name), class: 'text-primary fw-bold' %>
              </div>
              <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
              <div class="d-flex align-items-center justify-content-center">
                <p class="fs-4 mb-0 fw-bold">or, </p>
                <a class="text-primary fw-bold ms-2" href="https://civdmigas.skkmigas.go.id/vnd/registration.jwebs">Register
                  as a New CIVD Vendor</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render "layouts/wrapper" %>