<% content_for :table, flush: true do %>
  <thead>
  <tr>
    <th>Name</th>
    <th>Position Name</th>
    <th>Activity</th>
    <th>Started Date</th>
    <th>Completed Date</th>
    <th>Coment</th>
  </tr>
  </thead>
  <tbody>
  <% workflow_instances.each do |instance| %>
    <tr class="<%= 'table-danger' if instance.rejected? %>">
      <td>
        <%= instance.updater_name %>
      </td>
      <td>
        <%= instance.approver_position_name %>
      </td>
      <td>
        <%= instance.step %>
      </td>
      <td>
        <%= instance.created_at %>
      </td>
      <td>
        <%= instance.updated_at %>
      </td>
      <td>
        <%= instance.comment %>
      </td>
    </tr>
  <% end %>
  </tbody>
<% end %>

<%= render partial: 'shared/table' %>