<%= form_with(model: purch_reqn, html: { class: 'data-container h-100 w-100' }, id: 'form', data: { turbo: false }) do |form| %>
  <% if purch_reqn.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(purch_reqn.errors.count, "error") %> prohibited this purch_reqn from being saved:
      </h2>
      <ul>
        <% purch_reqn.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row g-3">
    <div class="col-md-6">
      <%= label_for('pr-type', 'PR Type', true) %>
      <div class="form-check">
        <%= form.radio_button :purch_reqn_type, 'MATERIAL', class: 'form-check-input', id: 'material', disabled: !purch_reqn.new_record? %>
        <label class="form-check-label" for="material">
          Material
        </label>
      </div>
      <div class="form-check">
        <%= form.radio_button :purch_reqn_type, 'SERVICE', class: 'form-check-input', id: 'service', disabled: !purch_reqn.new_record? %>
        <label class="form-check-label" for="service">
          Service
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <label for="pr-type">Contact Reference</label>
      <div class="form-check">
        <%= form.radio_button :contract, true, class: 'form-check-input', id: 'contract-true' %>
        <label class="form-check-label" for="contract-true">
          Yes
        </label>
      </div>
      <div class="form-check">
        <%= form.radio_button :contract, false, class: 'form-check-input', id: 'contract-false', checked: true %>
        <label class="form-check-label" for="contract-false">
          No
        </label>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column gap-3">
      <div>
        <%= label_for('purch_group_id', 'Purchasing Group', true) %>
        <%= selection(form, :purch_group_id, purch_groups_path, :id, :code, :name) %>
      </div>
      <div>
        <%= label_for('plant_id', 'Plant', true) %>
        <%= selection(form, :plant_id, plants_path, :id, :code, :name) %>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column gap-3" data-controller="toggler">
      <div>
        <%= label_for('desc', 'Description', true) %>
        <%= form.text_area :desc, id: :description, class: 'form-control' %>
      </div>
      <div>
        <%= label_for('fund_source', 'Fund Source', true) %>
        <div class="form-check">
          <%= form.radio_button :fund_source, 'PROJECT_WBS', class: 'form-check-input toggler-hide', id: 'project-wbs', data: { show: 'toggle-project-afe', hide: 'toggle-cost-center', action: 'change->toggler#hide' }, checked: true %>
          <label class="form-check-label" for="project-wbs">
            Project AFE
          </label>
        </div>
        <div class="form-check">
          <%= form.radio_button :fund_source, 'COST_CENTER', class: 'form-check-input toggler-show', id: 'cost-center', data: { show: 'toggle-cost-center', hide: 'toggle-project-afe', action: 'change->toggler#show' } %>
          <label class="form-check-label" for="cost-center">
            Cost Center
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 toggle-cost-center">
      <%= label_for('cost_center_id', 'Cost Center', true) %>
      <%= selection(form, :cost_center_id, cost_centers_path, :id, :cost_center_id, :desc) %>
    </div>
    <div class="col-md-6 toggle-project-afe">
      <%= label_for('wbsproject_id', 'Project AFE', true) %>
      <%= selection(form, :wbsproject_id, wbsprojects_path, :id, :wbs_id, :desc) %>
    </div>
    <div class="col-md-6">
      <%= label_for('currency_id', 'Currency', true) %>
      <%= selection(form, :currency_id, currencies_path, :id, :code, :name, default: { code: 'IDR' }) %>
    </div>
    <div class="col-md-6">
      <%= form.button '', class: 'btn btn-secondary mt-xxl-9', disabled: purch_reqn.new_record? ? false : purch_reqn.submitted? do %>
        <i class="ti ti-device-floppy"></i>
        <%= purch_reqn.new_record? ? 'Save' : 'Update' %>
      <% end %>
    </div>
  </div>
<% end %>