<% unless purch_reqn.submitted? %>
  <div class="float-end">
    <%= link_to edit_purch_reqn_path, class: 'btn btn-sm btn-secondary' do %>
      <i class="ti ti-pencil"></i>
      Edit
    <% end %>
  </div>
<% end %>
<table class="table">
  <tr>
    <td>Purchase Requisition Number</td>
    <td><%= purch_reqn.number %></td>
  </tr>
  <tr>
    <td>Purchase Requisition Type</td>
    <td><%= purch_reqn.purch_reqn_type %></td>
  </tr>
<!--  <tr>-->
<!--    <td>Contract</td>-->
<!--    <td><%#= badge(purch_reqn.contract) %></td>-->
<!--  </tr>-->
  <tr>
    <td>Purchase Requisition Title</td>
    <td><%= purch_reqn.desc %></td>
  </tr>
  <tr>
    <td>Purchasing Group</td>
    <td><%= purch_reqn.purch_group_code %> - <%= purch_reqn.purch_group_name %></td>
  </tr>
  <tr>
    <td>Plant</td>
    <td><%= purch_reqn.plant_code %> - <%= purch_reqn.plant_name %></td>
  </tr>
  <tr>
    <td>HSSE Risk</td>
    <td><%= badge(purch_reqn.hsse_risk) %></td>
  </tr>
  <tr>
    <td>Term of Payment</td>
    <td><%= purch_reqn.term_of_payment %></td>
  </tr>
  <tr>
    <td>Date PR</td>
    <td><%= purch_reqn.formatted_create %></td>
  </tr>
  <!--  <tr>-->
  <!--    <td>Purchasing Organization</td>-->
  <!--    <td><%#= purch_reqn.purch_org.code %></td>-->
  <!--  </tr>-->
  <tr>
    <td>Source Found</td>
    <td><%= purch_reqn.fund_source %></td>
  </tr>
  <% if purch_reqn.cost_center %>
    <tr>
      <td>Non AFE</td>
      <td><%= purch_reqn.cost_center_code %> - <%= purch_reqn.cost_center_desc %></td>
    </tr>
  <% end %>
  <% if purch_reqn.wbsproject %>
    <tr>
      <td>Project AFE</td>
      <td><%= text_for(purch_reqn.wbsproject_code, purch_reqn.wbsproject_desc) %></td>
    </tr>
  <% end %>
  <tr>
    <td>Currency</td>
    <td><%= purch_reqn.currency_code %></td>
  </tr>
  <tr>
    <td>Total</td>
    <td><%= purch_reqn.items_subtotal %></td>
  </tr>
</table>