<div id="<%= dom_id purch_reqn %>">
  <p>
    <strong>App:</strong>
    <%= purch_reqn.app_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= purch_reqn.number %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= purch_reqn.desc %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= purch_reqn.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= purch_reqn.updated_by_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= purch_reqn.state %>
  </p>

  <p>
    <strong>Current workflow instance:</strong>
    <%= purch_reqn.current_workflow_instance_id %>
  </p>

  <p>
    <strong>Purch org:</strong>
    <%= purch_reqn.purch_org_id %>
  </p>

  <p>
    <strong>Purch reqn type:</strong>
    <%= purch_reqn.purch_reqn_type %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= purch_reqn.contract %>
  </p>

  <p>
    <strong>Purch group:</strong>
    <%= purch_reqn.purch_group_id %>
  </p>

  <p>
    <strong>Plant:</strong>
    <%= purch_reqn.plant_id %>
  </p>

  <p>
    <strong>Cost center:</strong>
    <%= purch_reqn.cost_center_id %>
  </p>

  <p>
    <strong>Fund source:</strong>
    <%= purch_reqn.fund_source %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= purch_reqn.currency_id %>
  </p>

  <p>
    <strong>Recreate from:</strong>
    <%= purch_reqn.recreate_from_id %>
  </p>

  <p>
    <strong>Contract title:</strong>
    <%= purch_reqn.contract_title %>
  </p>

  <p>
    <strong>Scope of work:</strong>
    <%= purch_reqn.scope_of_work %>
  </p>

  <p>
    <strong>Justification:</strong>
    <%= purch_reqn.justification %>
  </p>

  <p>
    <strong>Budget soure:</strong>
    <%= purch_reqn.budget_soure %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= purch_reqn.reason %>
  </p>

  <p>
    <strong>Contract type:</strong>
    <%= purch_reqn.contract_type %>
  </p>

  <p>
    <strong>Risk category:</strong>
    <%= purch_reqn.risk_category %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= purch_reqn.explanation %>
  </p>

  <p>
    <strong>Previous contract number:</strong>
    <%= purch_reqn.previous_contract_number %>
  </p>

  <p>
    <strong>Previous contract title:</strong>
    <%= purch_reqn.previous_contract_title %>
  </p>

  <p>
    <strong>Local of content:</strong>
    <%= purch_reqn.local_of_content %>
  </p>

  <p>
    <strong>Rejected at:</strong>
    <%= purch_reqn.rejected_at %>
  </p>

  <p>
    <strong>Cancel remark:</strong>
    <%= purch_reqn.cancel_remark %>
  </p>

  <p>
    <strong>Contract reference:</strong>
    <%= purch_reqn.contract_reference_id %>
  </p>

  <p>
    <strong>Prcmt:</strong>
    <%= purch_reqn.prcmt_id %>
  </p>

</div>
