<tr>
  <td><%= purch_reqn.number %></td>
  <td><%= purch_reqn.purch_reqn_type %></td>
  <td><%= purch_reqn.contract %></td>
  <td><%= purch_reqn.desc %></td>
  <td><%= purch_reqn.plant_id %></td>
  <td><%= purch_reqn.plant_id %></td>
  <td><%= purch_reqn.plant_id %></td>
  <td><%= purch_reqn.plant_id %></td>
  <td><%= purch_reqn.purch_group_id %></td>
  <td></td>
  <td><%= purch_reqn.state %></td>
  <td><%= purch_reqn.created_by %></td>
  <td></td>
  <td><%= purch_reqn.created_at %></td>
  <td><%= purch_reqn.cancel_remark %></td>
  <td><%= link_to "Show", purch_reqn %></td>
</tr>