<% if !@purch_reqn.submitted? && (current_user.has_role? 'Buyer' || current_user.is_superuser?) %>
  <%= form_with(model: model, id: 'submit-button', data: { turbo: false }) do |f| %>
    <%= f.hidden_field :state, value: 'SUBMITTED' %>
    <%= f.button class: 'btn btn-sm btn-secondary', disabled: !model.submitable? do %>
      <i class="ti ti-send"></i>
      Submit
    <% end %>
  <% end %>
<% end %>

<% if @purch_reqn.finished? %>
  <%= link_to purch_reqn_path(format: :pdf) do %>
    <button class="btn btn-sm btn-primary">
      <i class="ti ti-file-type-pdf"></i>
      Generate PDF
    </button>
  <% end %>
  <% if policy(@purch_reqn.object).carry_out? %>
    <%= link_to purch_reqn_items_path, method: :get do %>
      <button class="btn btn-sm btn-secondary">
        Carry out items
        <i class="ti ti-arrow-right"></i>
      </button>
    <% end %>
  <% end %>
<% end %>
