<table class="table" style="border-color: transparent;">
  <tr>
    <td style="width: 10px;"><%== @qr_purch_reqn %></td>
    <td>
      <div>
        <small>SPR Langgak</small>
        <h1>Purchase Requisition</h1>
        <p><%= @purch_reqn.number %> ( <%= @purch_reqn.purch_reqn_type %> )</p>
      </div>
    </td>
    <td>
      <%= image_tag wicked_pdf_asset_base64('logo.png'), class: 'float-end', style: 'width: 175px' %>
    </td>
  </tr>
</table>

<table class="table" style="border-color: #ebf1f6;">
  <tr style="background-color: #f9fafe">
    <td><b>Description</b></td>
    <td><b>Requested Date</b></td>
  </tr>
  <tr>
    <td><%= @purch_reqn.desc %></td>
    <td><%= @purch_reqn.formatted_create %></td>
  </tr>
  <tr style="background-color: #f9fafe">
    <td>
      <b>Subtotal</b>
    </td>
    <td>
      <b>Currency</b>
    </td>
  </tr>
  <tr style="width: 10px !important;">
    <td>
      <%= @purch_reqn.items_subtotal %>
    </td>
    <td>
      <%= @purch_reqn.currency_code %>
    </td>
  </tr>
</table>

<table class="table" style="border-color: transparent;">
  <tr>
    <td><b>Contract</b></td>
    <td><b>Purchasing Group</b></td>
    <td><b>Plant</b></td>
    <td><b>Source Found</b></td>
    <% unless @purch_reqn.fund_source == 'PROJECT_WBS' %>
      <td><b>Non AFE</b></td>
    <% end %>
  </tr>
  <tr>
    <td>
      <%= @purch_reqn.contract ? 'Yes' : 'No' %>
    </td>
    <td>
      <%= @purch_reqn.purch_group_code %>
    </td>
    <td>
      <%= @purch_reqn.plant_code %>
    </td>
    <td>
      <%= @purch_reqn.fund_source %>
    </td>
    <% unless @purch_reqn.fund_source == 'PROJECT_WBS' %>
      <td>
        <%= @purch_reqn.cost_center&.desc || '' %>
      </td>
    <% end %>
  </tr>
</table>

<div style="border-top: 1px solid #ebf1f6; margin: 20px 0 "></div>

<h3 style="margin: 60px 0">Items</h3>
<table class="table" style="border-color: #ebf1f6">
  <tr style="background-color: #f9fafe">
    <th>
      Item No.
    </th>
    <th>
      Item Type
    </th>
    <th>
      Product Group
    </th>
    <th>
      Material
    </th>
    <th>
      Description
    </th>
    <th>
      Quantity
    </th>
    <th>
      UoM
    </th>
    <th>
      Unit Price (Estimation)
    </th>
    <th>
      Subtotal
    </th>
    <th>
      Delivery Date
    </th>
    <th>
      Requisistioner
    </th>
  </tr>
  <% items = @purch_reqn.decorated_items %>
  <% items.each_with_index do |purch_reqn_item, index| %>
    <tr>
      <td><%= purch_reqn_item.number %></td>
      <td><%= purch_reqn_item.item_type %></td>
      <td><%= purch_reqn_item.product_group_code %> - <%= purch_reqn_item.product_group_name %></td>
      <td><b><%= purch_reqn_item.product&.code %></b> - <%= purch_reqn_item.product&.name %></td>
      <td><%= purch_reqn_item.desc %></td>
      <td><%= purch_reqn_item.qty %></td>
      <td><%= purch_reqn_item.uom&.name %></td>
      <td><%= purch_reqn_item.est_unit_price %></td>
      <td><%= purch_reqn_item.est_subtotal %></td>
      <td><%= purch_reqn_item.formatted_delivery %></td>
      <td><%= purch_reqn_item.requisitioner %></td>
    </tr>
    <% if purch_reqn_item.items.count > 0 %>
      <tr style="background-color: #f9fafe">
        <td colspan="11">
          <!--          <h3 style="margin: 10px 0; text-align: center">Service Items</h3>-->
          <table class="table" style="border-color: #ebf1f6; margin-bottom: 0px">
            <tr>
              <th>Item No.</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>UoM</th>
              <th>Unit Price (Estimation)</th>
              <th>Subtotal</th>
            </tr>
            <% purch_reqn_item.items.each_with_index do |item, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= item.desc %></td>
                <td><%= item.qty %></td>
                <td><%= item.uom&.name %></td>
                <td><%= item.est_unit_price %></td>
                <td><%= item.est_subtotal %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<h3 style="margin: 60px 0">Histories</h3>
<table class="table" style="border-color: #ebf1f6">
  <tr style="background-color: #f9fafe">
    <th>Name</th>
    <th>Position Name</th>
    <th>Activity</th>
    <th>Started Date</th>
    <th>Completed Date</th>
    <th>Coment</th>
  </tr>
  <% instances = @purch_reqn.workflow_instances %>
  <% instances.each do |instance| %>
    <tr style="<%= 'background-color: #ebd6d0' if instance.rejected? %>">
      <td>
        <%= instance.updater_name %>
      </td>
      <td>
        <%= instance.approver_position_name %>
      </td>
      <td>
        <%= instance.step %>
      </td>
      <td>
        <%= instance.formatted_create %>
      </td>
      <td>
        <%= instance.formatted_update %>
      </td>
      <td>
        <%= instance.comment %>
      </td>
    </tr>
  <% end %>
</table>

<h3 style="margin: 60px 0">Approver Signature</h3>
<table style="border-color: #ebf1f6">
  <% @approver_qrs.each do |id, qr| %>
    <tr>
      <td style="width: 30px; height: 30px; padding: 20px">
        <%== qr %>
        <div style="text-align: center; padding-top: 100px">
          <%= instances.where(updated_by_id: id).first.updater_name %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
