<div id="<%= dom_id purch_reqn_uncommit %>">
  <p>
    <strong>App:</strong>
    <%= purch_reqn_uncommit.app_id %>
  </p>

  <p>
    <strong>Purch reqn:</strong>
    <%= purch_reqn_uncommit.purch_reqn_id %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= purch_reqn_uncommit.desc %>
  </p>

  <p>
    <strong>Uncommit remark:</strong>
    <%= purch_reqn_uncommit.uncommit_remark %>
  </p>

  <p>
    <strong>State:</strong>
    <%= purch_reqn_uncommit.state %>
  </p>

  <p>
    <strong>Current workflow instance:</strong>
    <%= purch_reqn_uncommit.current_workflow_instance_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= purch_reqn_uncommit.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= purch_reqn_uncommit.updated_by_id %>
  </p>

</div>
