<div id="<%= dom_id measurement_unit %>">
  <p>
    <strong>App:</strong>
    <%= measurement_unit.app_id %>
  </p>

  <p>
    <strong>Ident name:</strong>
    <%= measurement_unit.ident_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= measurement_unit.name %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= measurement_unit.symbol %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= measurement_unit.desc %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= measurement_unit.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= measurement_unit.updated_at %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= measurement_unit.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= measurement_unit.updated_by_id %>
  </p>

  <p>
    <strong>Dimid:</strong>
    <%= measurement_unit.dimid %>
  </p>

</div>
