<p style="color: green"><%= notice %></p>

<%= render @measurement_unit %>

<div>
  <%= link_to "Edit this measurement unit", edit_measurement_unit_path(@measurement_unit) %> |
  <%= link_to "Back to measurement units", measurement_units_path %>

  <%= button_to "Destroy this measurement unit", @measurement_unit, method: :delete %>
</div>
