<%= form_with(model: purch_reqn_item, html: { class: 'data-container' }) do |form| %>
  <% if purch_reqn_item.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(purch_reqn_item.errors.count, "error" ) %> prohibited this purchase requisition item from being saved:
      </h2>
      <ul>
        <% purch_reqn_item.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% type = params[:type] %>
  <div class="row g-3">
    <div class="col-md-6">
      <label for="item_type">Item Type</label>
      <%= form.text_field :item_type, class: 'form-control bg-body-tertiary', readonly: :true, value: type&.upcase %>
    </div>

    <div class="col-md-6">
      <label for="commodity_list_id">List Commodity</label>
      <%= selection(form, :commodity_list_id, commodity_lists_path, :id, :desc) %>
    </div>

    <div class="col-md-6">
      <label for="product_group_id"><%= type&.capitalize %> Classification</label>
      <%= selection(form, :product_group_id, product_groups_path, :id, :name) %>
    </div>

    <div class="col-md-6">
      <label for="product_id">Product</label>
      <%= selection(form, :product_id, products_path, :id, :name) %>
    </div>

    <div class="col-md-6">
      <label for="desired_vendor">Desired Vendor</label>
      <%= form.text_field :desired_vendor, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="qty">Quantity</label>
      <%= form.number_field :qty, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="measurement_unit_id">Measurement Unit</label>
      <%= selection(form, :measurement_unit_id, measurement_units_path, :id, :name) %>
    </div>

    <div class="col-md-6">
      <label for="est_unit_price">Estimated Unit Price</label>
      <%= form.number_field :est_unit_price, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="price_unit">Price Unit</label>
      <%= form.number_field :price_unit, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="est_subtotal">Estimated Subtotal</label>
      <%= form.number_field :est_subtotal, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="currency_id">Currency</label>
      <%= selection(form, :currency_id, currencies_path, :id, :code) %>
    </div>

    <div class="col-md-6">
      <label for="requisitioner">Requisitioner</label>
      <%= form.text_field :requisitioner, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="expected_delivery_date">Expected Delivery Date</label>
      <%= form.date_field :expected_delivery_date, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="desc">Description</label>
      <%= form.text_area :desc, class: 'form-control', rows: 5 %>
    </div>

    <!-- Add more fields as needed -->

  </div>

  <%= form.submit 'Submit', class: 'btn btn-secondary mt-xxl-9' %>
<% end %>
