<table class="table table-striped table-hover table-bordered">
  <thead>
      <tr>
          <th>
            <%= sortable_header('PR Number', purch_reqn_items_path, :number) %>
          </th>
          <th>
            <%= sortable_header('PR Type', purch_reqn_items_path, :purch_reqn_item_type) %>
          </th>
          <th>
            <%= sortable_header('Contract', purch_reqn_items_path, :contract) %>
          </th>
          <th>
            <%= sortable_header('Description', purch_reqn_items_path, :contract) %>
          </th>
          <th>
            <%= sortable_header('Plant Code', purch_reqn_items_path, 'plants.code') %>
          </th>
          <th>Plant</th>
          <th>Non AFE Code</th>
          <th>Non AFE</th>
          <th>Purchasing Group Code</th>
          <th>Workflow State</th>
          <th>State</th>
          <th>Created By</th>
          <th>Subtotal</th>
          <th>Created at</th>
          <th>Cancel Remark</th>
      </tr>
  </thead>
  <tbody>
    <% items = @purch_reqn_items || locals[:items] || [] %>
    <% if items.empty? %>
      <tr>
        <td colspan="15"> No Entry</td>
      </tr>
    <% else %>
      <% items.each do |purch_reqn_item| %>
        <tr>
          <td><%= link_to purch_reqn_item.number, purch_reqn_item %></td>
          <td><%= purch_reqn_item.purch_reqn_item_type %></td>
          <td><%= purch_reqn_item.contract %></td>
          <td><%= purch_reqn_item.desc %></td>
          <td><%= purch_reqn_item.plant_code %></td>
          <td><%= purch_reqn_item.plant&.party&.full_name %></td>
          <td><%= purch_reqn_item.cost_center&.id || '' %></td>
          <td><%= purch_reqn_item.cost_center&.desc || '' %></td>
          <td><%= purch_reqn_item.purch_group&.code %></td>
          <td></td>
          <td><%= purch_reqn_item.state %></td>
          <td><%= purch_reqn_item.creator&.username %></td>
          <td></td>
          <td><%= purch_reqn_item.created_at %></td>
          <td><%= purch_reqn_item.cancel_remark %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>