<div id="<%= dom_id purch_reqn_item %>">
  <p>
    <strong>App:</strong>
    <%= purch_reqn_item.app_id %>
  </p>

  <p>
    <strong>Purch reqn:</strong>
    <%= purch_reqn_item.purch_reqn_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= purch_reqn_item.number %>
  </p>

  <p>
    <strong>Product group:</strong>
    <%= purch_reqn_item.product_group_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= purch_reqn_item.product_id %>
  </p>

  <p>
    <strong>Desired vendor:</strong>
    <%= purch_reqn_item.desired_vendor %>
  </p>

  <p>
    <strong>Fixed vendor:</strong>
    <%= purch_reqn_item.fixed_vendor %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= purch_reqn_item.qty %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= purch_reqn_item.measurement_unit_id %>
  </p>

  <p>
    <strong>Est unit price:</strong>
    <%= purch_reqn_item.est_unit_price %>
  </p>

  <p>
    <strong>Price unit:</strong>
    <%= purch_reqn_item.price_unit %>
  </p>

  <p>
    <strong>Est subtotal:</strong>
    <%= purch_reqn_item.est_subtotal %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= purch_reqn_item.currency_id %>
  </p>

  <p>
    <strong>Requisitioner:</strong>
    <%= purch_reqn_item.requisitioner %>
  </p>

  <p>
    <strong>Expected delivery date:</strong>
    <%= purch_reqn_item.expected_delivery_date %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= purch_reqn_item.desc %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= purch_reqn_item.data %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= purch_reqn_item.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= purch_reqn_item.updated_by_id %>
  </p>

  <p>
    <strong>Processed qty:</strong>
    <%= purch_reqn_item.processed_qty %>
  </p>

  <p>
    <strong>Specification:</strong>
    <%= purch_reqn_item.specification %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= purch_reqn_item.note %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= purch_reqn_item.deleted_at %>
  </p>

  <p>
    <strong>Deleted by:</strong>
    <%= purch_reqn_item.deleted_by_id %>
  </p>

  <p>
    <strong>Item type:</strong>
    <%= purch_reqn_item.item_type %>
  </p>

  <p>
    <strong>Wbsproject:</strong>
    <%= purch_reqn_item.wbsproject_id %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= purch_reqn_item.parent_id %>
  </p>

  <p>
    <strong>Contract item reference:</strong>
    <%= purch_reqn_item.contract_item_reference_id %>
  </p>

  <p>
    <strong>Contract flag:</strong>
    <%= purch_reqn_item.contract_flag %>
  </p>

  <p>
    <strong>Purch reqn item noncontract:</strong>
    <%= purch_reqn_item.purch_reqn_item_noncontract_id %>
  </p>

  <p>
    <strong>Commodity list:</strong>
    <%= purch_reqn_item.commodity_list %>
  </p>

  <p>
    <strong>Adjustment qty:</strong>
    <%= purch_reqn_item.adjustment_qty %>
  </p>

</div>
