<% content_for :content_header do %>
  <b>Purchase Requisition / Carry out items</b>
  <div class="d-flex gap-2 flex-wrap">
    <%= link_to purch_reqn_path do %>
      <button class="btn btn-sm btn-light-warning">
        <i class="ti ti-arrow-back-up"></i>
        Back
      </button>
    <% end %>
  </div>
<% end %>
<% content_for :content do %>
  <% if @purch_reqn_items.empty? %>
    <div class="alert alert-warning">
      <i class="ti ti-zoom-question"></i>
      Oops! All items have been carried out
    </div>
  <% else %>
    <%= form_for(@purch_reqn_items, url: purch_reqn_items_path, id: 'form', data: { turbo: false }, method: :post) do |form| %>
      <%= render 'list', form: %>
      <div class="col-md-6">
        <%= form.button '', class: 'btn btn-secondary mt-xxl-9' do %>
          <i class="ti ti-device-floppy"></i>
          Create tender draft
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
<%= render "layouts/wrapper", sidebar: true %>