<div id="<%= dom_id currency %>">
  <p>
    <strong>App:</strong>
    <%= currency.app_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= currency.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= currency.name %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= currency.symbol %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= currency.desc %>
  </p>

</div>
