<%= form_with(model: workflow) do |form| %>
  <% if workflow.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(workflow.errors.count, "error") %> prohibited this workflow from being saved:</h2>

      <ul>
        <% workflow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :created_by_id, style: "display: block" %>
    <%= form.text_field :created_by_id %>
  </div>

  <div>
    <%= form.label :updated_by_id, style: "display: block" %>
    <%= form.text_field :updated_by_id %>
  </div>

  <div>
    <%= form.label :discarded_at, style: "display: block" %>
    <%= form.datetime_field :discarded_at %>
  </div>

  <div>
    <%= form.label :discarded_by_id, style: "display: block" %>
    <%= form.text_field :discarded_by_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
