<table class="table">

    <tr>
      <td><strong>Name:</strong></td>
      <td><%= workflow.name %></td>
    </tr>
  
    <tr>
      <td><strong>State:</strong></td>
      <td><%= workflow.state %></td>
    </tr>
  
    <tr>
      <td><strong>Created by:</strong></td>
      <td><%= workflow.created_by_id %></td>
    </tr>
  
    <tr>
      <td><strong>Updated by:</strong></td>
      <td><%= workflow.updated_by_id %></td>
    </tr>
  
    <tr>
      <td><strong>Discarded at:</strong></td>
      <td><%= workflow.discarded_at %></td>
    </tr>
  
    <tr>
      <td><strong>Discarded by:</strong></td> 
      <td><%= workflow.discarded_by_id %></td>
    </tr>
  
  </table>