<div id="<%= dom_id workflow %>">
  <p>
    <strong>Name:</strong>
    <%= workflow.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= workflow.state %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= workflow.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= workflow.updated_by_id %>
  </p>

  <p>
    <strong>Discarded at:</strong>
    <%= workflow.discarded_at %>
  </p>

  <p>
    <strong>Discarded by:</strong>
    <%= workflow.discarded_by_id %>
  </p>

</div>
