<div id="<%= dom_id purch_reqn_partial_status %>">
  <p>
    <strong>App:</strong>
    <%= purch_reqn_partial_status.app_id %>
  </p>

  <p>
    <strong>Purch reqn partial:</strong>
    <%= purch_reqn_partial_status.purch_reqn_partial_id %>
  </p>

  <p>
    <strong>Partialable type:</strong>
    <%= purch_reqn_partial_status.partialable_type %>
  </p>

  <p>
    <strong>Partialable:</strong>
    <%= purch_reqn_partial_status.partialable_id %>
  </p>

  <p>
    <strong>Partial itemable type:</strong>
    <%= purch_reqn_partial_status.partial_itemable_type %>
  </p>

  <p>
    <strong>Partial itemable:</strong>
    <%= purch_reqn_partial_status.partial_itemable_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= purch_reqn_partial_status.status %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= purch_reqn_partial_status.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= purch_reqn_partial_status.updated_by %>
  </p>

</div>
