<p style="color: green"><%= notice %></p>

<%= render @purch_reqn_partial_status %>

<div>
  <%= link_to "Edit this purch reqn partial status", edit_purch_reqn_partial_status_path(@purch_reqn_partial_status) %> |
  <%= link_to "Back to purch reqn partial statuses", purch_reqn_partial_statuses_path %>

  <%= button_to "Destroy this purch reqn partial status", @purch_reqn_partial_status, method: :delete %>
</div>
