<div id="<%= dom_id contract_reference %>">
  <p>
    <strong>Contact type:</strong>
    <%= contract_reference.contact_type_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= contract_reference.number %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= contract_reference.country_id %>
  </p>

  <p>
    <strong>Other country:</strong>
    <%= contract_reference.other_country %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= contract_reference.province_id %>
  </p>

  <p>
    <strong>Other province:</strong>
    <%= contract_reference.other_province %>
  </p>

  <p>
    <strong>District:</strong>
    <%= contract_reference.district_id %>
  </p>

  <p>
    <strong>Other district:</strong>
    <%= contract_reference.other_district %>
  </p>

  <p>
    <strong>Sub district:</strong>
    <%= contract_reference.sub_district_id %>
  </p>

  <p>
    <strong>Other sub district:</strong>
    <%= contract_reference.other_sub_district %>
  </p>

  <p>
    <strong>Village:</strong>
    <%= contract_reference.village_id %>
  </p>

  <p>
    <strong>Other village:</strong>
    <%= contract_reference.other_village %>
  </p>

  <p>
    <strong>Postal address:</strong>
    <%= contract_reference.postal_address %>
  </p>

  <p>
    <strong>Electronic address:</strong>
    <%= contract_reference.electronic_address %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= contract_reference.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= contract_reference.updated_at %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= contract_reference.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= contract_reference.updated_by_id %>
  </p>

  <p>
    <strong>Area code:</strong>
    <%= contract_reference.area_code %>
  </p>

  <p>
    <strong>Ext:</strong>
    <%= contract_reference.ext %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= contract_reference.postal_code %>
  </p>

</div>
