<div id="<%= dom_id buyer_plant %>">
  <p>
    <strong>Buyer:</strong>
    <%= buyer_plant.buyer %>
  </p>

  <p>
    <strong>Plant:</strong>
    <%= buyer_plant.plant %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= buyer_plant.from_date %>
  </p>

  <p>
    <strong>Thru date:</strong>
    <%= buyer_plant.thru_date %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= buyer_plant.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= buyer_plant.updated_at %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= buyer_plant.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= buyer_plant.updated_by_id %>
  </p>

</div>
