<table class="table  table-hover table-bordered data-container">
  <thead>
    <tr>
      <th><%= sortable_header('GR/WAN No.', work_acceptance_notes_path, :number) %></th>
      <!-- <th><%= sortable_header('Sap Number', work_acceptance_notes_path, :sap_number) %></th> -->
      <th><%= sortable_header('Title', work_acceptance_notes_path, :name) %></th>
      <!-- <th><%= sortable_header('Workflow Instance', work_acceptance_notes_path, :current_workflow_instance_id) %></th> -->
      <!-- <th><%= sortable_header('Data', work_acceptance_notes_path, :data) %></th> -->
      <th><%= sortable_header('GR/WAN Type', work_acceptance_notes_path, :wan_type) %></th>
      <!-- <th><%= sortable_header('Internal Org', work_acceptance_notes_path, :internal_org_id) %></th> -->
      <!-- <th><%= sortable_header('Purch Org', work_acceptance_notes_path, :purch_org_id) %></th> -->
      <!-- <th><%= sortable_header('Purch Group', work_acceptance_notes_path, :purch_group_id) %></th> -->
      <th><%= sortable_header('Plant Code', work_acceptance_notes_path, :plant_id) %></th>
      <th><%= sortable_header('Plant', work_acceptance_notes_path, :plant_id) %></th>
      <th><%= sortable_header('Purchasing Group Code', work_acceptance_notes_path, :purch_group_id) %></th>
      <th><%= sortable_header('Purchasing Group', work_acceptance_notes_path, :purch_group_id) %></th>
      <th><%= sortable_header('PO Number', work_acceptance_notes_path, :purch_order_id) %></th>
      <th><%= sortable_header('Vendor Code', work_acceptance_notes_path, :vendor_id) %></th>
      <th><%= sortable_header('Vendor Name', work_acceptance_notes_path, :vendor_id) %></th>
      <th><%= sortable_header('Receiver', work_acceptance_notes_path, :receiver) %></th>
      <th><%= sortable_header('State', work_acceptance_notes_path, :state) %></th>
      <th><%= sortable_header('Cancel Remark', work_acceptance_notes_path, :cancel_remark) %></th>
      <!-- <th><%= sortable_header('Delivery Detail', work_acceptance_notes_path, :delivery_detail) %></th>
      <th><%= sortable_header('Remark', work_acceptance_notes_path, :remark) %></th>
      <th><%= sortable_header('Released At', work_acceptance_notes_path, :released_at) %></th>
      <th><%= sortable_header('Rejected At', work_acceptance_notes_path, :rejected_at) %></th>
      <th><%= sortable_header('Discard At', work_acceptance_notes_path, :discard_at) %></th>
      <th><%= sortable_header('Reference By', work_acceptance_notes_path, :reference_by_id) %></th>
      <th><%= sortable_header('To Currency', work_acceptance_notes_path, :to_currency) %></th>
      <th><%= sortable_header('Incoterm', work_acceptance_notes_path, :incoterm_id) %></th>
      <th><%= sortable_header('Incoterm Desc', work_acceptance_notes_path, :incoterm_desc) %></th>
      <th><%= sortable_header('Payment Term Number', work_acceptance_notes_path, :payment_term_number) %></th>
      <th><%= sortable_header('Payment Term Desc', work_acceptance_notes_path, :payment_term_desc) %></th>
      <th><%= sortable_header('Request Type Code', work_acceptance_notes_path, :request_type_code) %></th>
      <th><%= sortable_header('Request Type', work_acceptance_notes_path, :request_type) %></th>
      <th><%= sortable_header('Delivery Date', work_acceptance_notes_path, :delivery_date) %></th>
      <th><%= sortable_header('Desc', work_acceptance_notes_path, :desc) %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @work_acceptance_notes.each do |work_acceptance_note| %>
      <tr>
        <td><%= work_acceptance_note.number %></td>
        <!-- <td><%= work_acceptance_note.sap_number %></td> -->
        <td><%= work_acceptance_note.name %></td>
        <td><%= work_acceptance_note.wan_type %></td>
        <td><%= work_acceptance_note.plant_id %></td>
        <td><%= work_acceptance_note.plant_id %></td>
        <td><%= work_acceptance_note.purch_group_id %></td>
        <td><%= work_acceptance_note.purch_group_id %></td>
        <td><%= work_acceptance_note.purch_order_id %></td>
        <td><%= work_acceptance_note.vendor_id %></td>
        <td><%= work_acceptance_note.vendor_id %></td>
        <td><%= work_acceptance_note.receiver %></td>
        <td><%= work_acceptance_note.state %></td>
        <td><%= work_acceptance_note.cancel_remark %></td>
        <!-- <td><%= work_acceptance_note.current_workflow_instance_id %></td> -->
        <!-- <td><%= work_acceptance_note.data %></td> -->
        <!-- <td><%= work_acceptance_note.internal_org_id %></td>
        <td><%= work_acceptance_note.purch_org_id %></td>
        <td><%= work_acceptance_note.to_currency %></td>
        <td><%= work_acceptance_note.incoterm_id %></td>
        <td><%= work_acceptance_note.incoterm_desc %></td>
        <td><%= work_acceptance_note.payment_term_number %></td>
        <td><%= work_acceptance_note.payment_term_desc %></td>
        <td><%= work_acceptance_note.request_type_code %></td>
        <td><%= work_acceptance_note.request_type %></td>
        <td><%= work_acceptance_note.delivery_date %></td>
        <td><%= work_acceptance_note.desc %></td>
        <td><%= work_acceptance_note.delivery_detail %></td>
        <td><%= work_acceptance_note.remark %></td>
        <td><%= work_acceptance_note.released_at %></td>
        <td><%= work_acceptance_note.rejected_at %></td>
        <td><%= work_acceptance_note.discard_at %></td>
        <td><%= work_acceptance_note.reference_by_id %></td> -->
      </tr>
    <% end %>
    <% if @work_acceptance_notes.empty? %>
    <tr>
      <td colspan="13">No Entry</td>
    </tr>
    <% end %>
  </tbody>
</table>
