<table class="table">
  <tr>
    <td>
      <strong>Ctrl name:</strong>
    </td>
    <td>
      <%= wbsproject.ctrl_name %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Position:</strong>
    </td>
    <td>
      <%= wbsproject.position %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Payroll:</strong>
    </td>
    <td>
      <%= wbsproject.payroll_id %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Wbs:</strong>
    </td>
    <td>
      <%= wbsproject.wbs_id %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Desc:</strong>
    </td>
    <td>
      <%= wbsproject.desc %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Created by:</strong>
    </td>
    <td>
      <%= wbsproject.creator_name %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Updated by:</strong>
    </td>
    <td>
      <%= wbsproject.updater_name %>
    </td>
  </tr>
</table>
