<% content_for :content_header do %>
  <b>Personnel / Change password</b>
  <% if policy(current_user).edit? %>
    <div class="d-flex gap-2 flex-wrap">
      <%= link_to edit_user_path do %>
        <button class="btn btn-sm btn-light-warning">
          <i class="ti ti-arrow-back-up"></i>
          Back
        </button>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= form_with(url: change_password_user_path, html: { class: 'data-container' }) do |form| %>
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row g-3 w-50">
      <% unless policy(current_user).edit? && @user != current_user %>
        <div class="col-12">
          <%= form.label :password %>
          <%= form.password_field :password, class: 'form-control' %>
        </div>
      <% end %>

      <div class="col-12">
        <%= form.label :new_password %>
        <%= form.password_field :new_password, class: 'form-control' %>
      </div>

      <div class="col-12">
        <%= form.label :new_password_confirmation %>
        <%= form.password_field :new_password_confirmation, class: 'form-control' %>
      </div>
    </div>

    <div>
      <%= form.submit 'Submit', class: 'btn btn-secondary mt-9' %>
    </div>
  <% end %>

<% end %>

<%= render "layouts/wrapper", sidebar: true %>