<div class="rounded-2 shadow-sm">
  <% if content_for? :filter %>
    <div class="p-2 d-flex justify-content-between align-items-center bg-white" style="border-bottom: 1px solid #ebf1f6">
      <%= yield :filter %>
      <% if defined? new %>
        <%= link_to new, class: 'p-2' do %>
          <i class="ti ti-plus"></i> New entry
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="overflow-x-auto overflow-y-auto bg-white" style="max-height: 70vh">
    <table class="table table-hover sticky-table" data-controller="sticky-table">
      <%= yield :table %>
    </table>
  </div>

</div>
<% if defined? model %>
  <div class="pagination d-flex justify-content-between mt-3 rounded align-items-center">
    <div class="rounded overflow-hidden">
      <%= paginate model, window: 2 %>
    </div>
    <div class="dropdown d-flex align-items-center gap-2">
      Showing
      <a class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-target="#pagination-show-page" aria-expanded="false">
        <%= model&.count %>
        <%# binding.pry %>
        <% klass = model.respond_to?(:klass) ? model.klass : model.object.klass %>
        <% query_params = request.query_parameters %>
      </a>
      <%= model&.entry_name %>
      <ul class="dropdown-menu" id="pagination-show-page">
        <li>
          <% query_params[:per] = 5 %>
          <%= link_to polymorphic_url(klass, **query_params), class: 'dropdown-item py-1' do %>
            5
          <% end %>
        </li>
        <li>
          <% query_params[:per] = 10 %>
          <%= link_to polymorphic_url(klass, **query_params), class: 'dropdown-item py-1' do %>
            10
          <% end %>
        </li>
        <li>
          <% query_params[:per] = 15 %>
          <%= link_to polymorphic_url(klass, **query_params), class: 'dropdown-item py-1' do %>
            15
          <% end %>
        </li>
        <li>
          <% query_params[:per] = 30 %>
          <%= link_to polymorphic_url(klass, **query_params), class: 'dropdown-item py-1' do %>
            30
          <% end %>
        </li>
        <li>
          <% query_params[:per] = 'all' %>
          <%= link_to polymorphic_url(klass, **query_params), class: 'dropdown-item py-1' do %>
            Show all
          <% end %>
        </li>
      </ul>
    </div>
    <div class="d-flex gap-1 align-items-center px-3">
      <%= page_entries_info(model, entry_name: defined?(entry_name) ? entry_name : nil) %>
    </div>
  </div>
<% end %>