<div id="<%= dom_id purch_reqn_item_history %>">
  <p>
    <strong>App:</strong>
    <%= purch_reqn_item_history.app_id %>
  </p>

  <p>
    <strong>Purch reqn item:</strong>
    <%= purch_reqn_item_history.purch_reqn_item_id %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= purch_reqn_item_history.desc %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= purch_reqn_item_history.username %>
  </p>

  <p>
    <strong>System:</strong>
    <%= purch_reqn_item_history.system %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= purch_reqn_item_history.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= purch_reqn_item_history.updated_by_id %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= purch_reqn_item_history.schedule_id %>
  </p>

  <p>
    <strong>Finished at:</strong>
    <%= purch_reqn_item_history.finished_at %>
  </p>

</div>
