<div id="<%= dom_id facility %>">
  <p>
    <strong>Facility type:</strong>
    <%= facility.facility_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= facility.name %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= facility.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= facility.updated_at %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= facility.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= facility.updated_by %>
  </p>

</div>
