<div id="<%= dom_id purch_reqn_link %>">
  <p>
    <strong>Purch reqn link type:</strong>
    <%= purch_reqn_link.purch_reqn_link_type_id %>
  </p>

  <p>
    <strong>From purch reqn:</strong>
    <%= purch_reqn_link.from_purch_reqn_id %>
  </p>

  <p>
    <strong>To purch reqn:</strong>
    <%= purch_reqn_link.to_purch_reqn_id %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= purch_reqn_link.desc %>
  </p>

</div>
