<div id="<%= dom_id buyer_purch_group %>">
  <p>
    <strong>Buyer:</strong>
    <%= buyer_purch_group.buyer %>
  </p>

  <p>
    <strong>Purch group:</strong>
    <%= buyer_purch_group.purch_group %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= buyer_purch_group.from_date %>
  </p>

  <p>
    <strong>Thru date:</strong>
    <%= buyer_purch_group.thru_date %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= buyer_purch_group.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= buyer_purch_group.updated_at %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= buyer_purch_group.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= buyer_purch_group.updated_by_id %>
  </p>

</div>
