<div id="<%= dom_id purch_group %>">
  <p>
    <strong>App:</strong>
    <%= purch_group.app_id %>
  </p>

  <p>
    <strong>Purch order type:</strong>
    <%= purch_group.purch_order_type_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= purch_group.number %>
  </p>

  <p>
    <strong>Issued date:</strong>
    <%= purch_group.issued_date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= purch_group.name %>
  </p>

  <p>
    <strong>Incoterm:</strong>
    <%= purch_group.incoterm_id %>
  </p>

  <p>
    <strong>Incoterm desc:</strong>
    <%= purch_group.incoterm_desc %>
  </p>

  <p>
    <strong>Internal org:</strong>
    <%= purch_group.internal_org_id %>
  </p>

  <p>
    <strong>Purch org:</strong>
    <%= purch_group.purch_org_id %>
  </p>

  <p>
    <strong>Purch group:</strong>
    <%= purch_group.purch_group_id %>
  </p>

  <p>
    <strong>Prcmt:</strong>
    <%= purch_group.prcmt_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= purch_group.data %>
  </p>

  <p>
    <strong>State:</strong>
    <%= purch_group.state %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= purch_group.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= purch_group.updated_at %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= purch_group.vendor_id %>
  </p>

  <p>
    <strong>Referrable type:</strong>
    <%= purch_group.referrable_type %>
  </p>

  <p>
    <strong>Referrable:</strong>
    <%= purch_group.referrable_id %>
  </p>

  <p>
    <strong>Payment term:</strong>
    <%= purch_group.payment_term_id %>
  </p>

  <p>
    <strong>Delivery location:</strong>
    <%= purch_group.delivery_location %>
  </p>

  <p>
    <strong>Current workflow instance:</strong>
    <%= purch_group.current_workflow_instance_id %>
  </p>

  <p>
    <strong>Used up:</strong>
    <%= purch_group.used_up %>
  </p>

  <p>
    <strong>Finished at:</strong>
    <%= purch_group.finished_at %>
  </p>

  <p>
    <strong>Discarded at:</strong>
    <%= purch_group.discarded_at %>
  </p>

  <p>
    <strong>Finished by:</strong>
    <%= purch_group.finished_by_id %>
  </p>

  <p>
    <strong>Length of work:</strong>
    <%= purch_group.length_of_work %>
  </p>

  <p>
    <strong>Payment term number:</strong>
    <%= purch_group.payment_term_number %>
  </p>

  <p>
    <strong>Payment term desc:</strong>
    <%= purch_group.payment_term_desc %>
  </p>

  <p>
    <strong>Po type:</strong>
    <%= purch_group.po_type %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= purch_group.contract %>
  </p>

  <p>
    <strong>Validity start date:</strong>
    <%= purch_group.validity_start_date %>
  </p>

  <p>
    <strong>Commentcement date:</strong>
    <%= purch_group.commentcement_date %>
  </p>

  <p>
    <strong>Delivery detail:</strong>
    <%= purch_group.delivery_detail %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= purch_group.remark %>
  </p>

  <p>
    <strong>Scope of work:</strong>
    <%= purch_group.scope_of_work %>
  </p>

  <p>
    <strong>Po to amount:</strong>
    <%= purch_group.po_to_amount %>
  </p>

  <p>
    <strong>Account holder:</strong>
    <%= purch_group.account_holder %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= purch_group.account_number %>
  </p>

  <p>
    <strong>Po signing:</strong>
    <%= purch_group.po_signing %>
  </p>

  <p>
    <strong>Tax policy:</strong>
    <%= purch_group.tax_policy %>
  </p>

  <p>
    <strong>To currency:</strong>
    <%= purch_group.to_currency_id %>
  </p>

  <p>
    <strong>Rejected at:</strong>
    <%= purch_group.rejected_at %>
  </p>

  <p>
    <strong>Cost center:</strong>
    <%= purch_group.cost_center_id %>
  </p>

  <p>
    <strong>Plant:</strong>
    <%= purch_group.plant_id %>
  </p>

  <p>
    <strong>Uncommit remark:</strong>
    <%= purch_group.uncommit_remark %>
  </p>

  <p>
    <strong>Is replicated:</strong>
    <%= purch_group.is_replicated %>
  </p>

</div>
