<p style="color: green"><%= notice %></p>

<%= render @purch_group %>

<div>
  <%= link_to "Edit this purch group", edit_purch_group_path(@purch_group) %> |
  <%= link_to "Back to purch groups", purch_groups_path %>

  <%= button_to "Destroy this purch group", @purch_group, method: :delete %>
</div>
