<div id="<%= dom_id plant %>">
  <p>
    <strong>App:</strong>
    <%= plant.app_id %>
  </p>

  <p>
    <strong>Facility:</strong>
    <%= plant.facility_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= plant.code %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= plant.from_date %>
  </p>

  <p>
    <strong>Thru date:</strong>
    <%= plant.thru_date %>
  </p>

  <p>
    <strong>Owner party:</strong>
    <%= plant.owner_party_id %>
  </p>

</div>
