<table class="table">

  <tr>
    <td><strong>Cost Center ID:</strong></td> 
    <td><%= cost_center.cost_center_id %></td>
  </tr>

  <tr>
    <td><strong>Controller Name:</strong></td>
    <td><%= cost_center.ctrl_name %></td>
  </tr>

  <tr>
    <td><strong>Description:</strong></td>
    <td><%= cost_center.desc %></td>
  </tr>

  <tr>
    <td><strong>Position:</strong></td>
    <td><%= cost_center.position %></td>
  </tr>

  <tr>
    <td><strong>Payroll:</strong></td>
    <td><%= cost_center.payroll_id %></td>
  </tr>

  <tr>
    <td><strong>Valid to:</strong></td>
    <td><%= cost_center.valid_to %></td>
  </tr>

  <tr>
    <td><strong>Created by:</strong></td>
    <td><%= cost_center.creator&.username %></td>
  </tr>

  <tr>
    <td><strong>Updated by:</strong></td>
    <td><%= cost_center.updater&.username %></td>
  </tr>

  <tr>
    <td><strong>Purchasing group:</strong></td>
    <td><%= cost_center.purch_group&.code %></td>
  </tr>

</table>