<div id="<%= dom_id cost_center %>">
  <p>
    <strong>App:</strong>
    <%= cost_center.app_id %>
  </p>

  <p>
    <strong>Cost center:</strong>
    <%= cost_center.cost_center_id %>
  </p>

  <p>
    <strong>Ctrl name:</strong>
    <%= cost_center.ctrl_name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= cost_center.desc %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= cost_center.position %>
  </p>

  <p>
    <strong>Payroll:</strong>
    <%= cost_center.payroll_id %>
  </p>

  <p>
    <strong>Valid to:</strong>
    <%= cost_center.valid_to %>
  </p>

</div>
