<%= form_with(model: cost_center) do |form| %>
  <% if cost_center.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(cost_center.errors.count, "error" ) %> prohibited this cost center from being saved:
      </h2>
      <ul>
        <% cost_center.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6">
      <label for="cost_center_id">ID</label>
      <%= form.text_field :cost_center_id, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="ctrl_name">Controllers Name</label>
      <%= form.text_field :ctrl_name, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="desc">Description</label>
      <%= form.text_area :desc, class: 'form-control', rows: 5 %>
    </div>

    <div class="col-md-6">
      <label for="position">Position</label>
      <%= form.text_field :position, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="payroll_id">Payroll ID</label>
      <%= form.text_field :payroll_id, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="valid_to">Valid To</label>
      <%= form.date_field :valid_to, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="purch_group_id">Purchasing Group</label>
      <%= selection(form, :purch_group_id, purch_groups_path, :id, :code) %>
    </div>

    <!-- Add more fields as needed -->

  </div>

  <%= form.submit 'Submit', class: 'btn btn-secondary mt-9' %>
<% end %>
