<%= render partial: 'purch_reqn_items/list' %>
<%= form_with(model: prcmt, html: { class: 'data-container mt-3' }) do |form| %>

  <%= form.hidden_field :prcmt_items, value: @purch_reqn_items.pluck(:id), multiple: true %>
  <% if prcmt.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(prcmt.errors.count, "error") %> prohibited this prcmt from being saved:
      </h2>
      <ul>
        <% prcmt.errors.each do |error| %>
          <li>
            <%= error.full_message %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6">
      <label for="name">Procurement Title</label>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label>Business Field</label>
      <div class="form-check">
        <%= form.radio_button :business_field, 'goods', class: 'form-check-input' %>
        <label class="form-check-label" for="business_field_goods">Goods</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :business_field, 'services', class: 'form-check-input' %>
        <label class="form-check-label" for="business_field_services">Services</label>
      </div>
    </div>

    <div class="col-md-6">
      <label for="prcmt_type_id">Procurement Types</label>
      <%= selection(form, :prcmt_type_id, prcmt_types_path, :id, :name) %>
    </div>

    <div class="col-md-6">
      <label for="purch_group_id">Purchasing Group</label>
      <%= selection(form, :purch_group_id, purch_groups_path, :id, :code, :name) %>
    </div>

    <div class="col-md-6">
      <label>Procurement Criterion</label>
      <div class="form-check">
        <%= form.radio_button :procurement_criterion, 'merit', class: 'form-check-input' %>
        <label class="form-check-label" for="procurement_criterion_merit">Merit</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :procurement_criterion, 'quality', class: 'form-check-input' %>
        <label class="form-check-label" for="procurement_criterion_quality">Quality</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :procurement_criterion, 'price', class: 'form-check-input' %>
        <label class="form-check-label" for="procurement_criterion_price">Price</label>
      </div>
    </div>

    <div class="col-md-6">
      <label>Prequalification</label>
      <div class="form-check">
        <%= form.radio_button :prequalification, true, class: 'form-check-input' %>
        <label class="form-check-label" for="prequalification_yes">Yes</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :prequalification, false, class: 'form-check-input' %>
        <label class="form-check-label" for="prequalification_no">No</label>
      </div>
    </div>

    <div class="col-md-6">
      <label>E-Auction</label>
      <div class="form-check">
        <%= form.radio_button :e_auction, true, class: 'form-check-input' %>
        <label class="form-check-label" for="e_auction_yes">Yes</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :e_auction, false, class: 'form-check-input' %>
        <label class="form-check-label" for="e_auction_no">No</label>
      </div>
    </div>

    <div class="col-md-6">
      <label>Submission Method</label>
      <div class="form-check">
        <%= form.radio_button :submission_method, 'one_envelope', class: 'form-check-input' %>
        <label class="form-check-label" for="submission_method_one_envelope">One Envelope</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :submission_method, 'two_envelope', class: 'form-check-input' %>
        <label class="form-check-label" for="submission_method_two_envelope">Two Envelope</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :submission_method, 'two_envelope_separate_evaluations', class: 'form-check-input' %>
        <label class="form-check-label" for="submission_method_two_envelope_separate_evaluations">Two Envelope Separate
          Evaluations</label>
      </div>
    </div>

    <div class="col-md-6">
      <label>Assessment Method</label>
      <div class="form-check">
        <%= form.radio_button :assessment_method, 'knockout', class: 'form-check-input' %>
        <label class="form-check-label" for="assessment_method_knockout">Knockout</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :assessment_method, 'score', class: 'form-check-input' %>
        <label class="form-check-label" for="assessment_method_score">Score</label>
      </div>
    </div>

  </div>

  <%= form.submit 'Submit', class: 'btn btn-secondary mt-xxl-9' %>
<% end %>
