<div id="<%= dom_id prcmt %>">
  <p>
    <strong>App:</strong>
    <%= prcmt.app_id %>
  </p>

  <p>
    <strong>Prcmt type:</strong>
    <%= prcmt.prcmt_type_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= prcmt.number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= prcmt.name %>
  </p>

  <p>
    <strong>Scope of work:</strong>
    <%= prcmt.scope_of_work %>
  </p>

  <p>
    <strong>Purch org:</strong>
    <%= prcmt.purch_org_id %>
  </p>

  <p>
    <strong>Purch group:</strong>
    <%= prcmt.purch_group_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= prcmt.buyer_id %>
  </p>

  <p>
    <strong>Prebid meeting:</strong>
    <%= prcmt.prebid_meeting %>
  </p>

  <p>
    <strong>Prequalification:</strong>
    <%= prcmt.prequalification %>
  </p>

  <p>
    <strong>Auction:</strong>
    <%= prcmt.auction %>
  </p>

  <p>
    <strong>Bid submission method:</strong>
    <%= prcmt.bid_submission_method %>
  </p>

  <p>
    <strong>Quotation media:</strong>
    <%= prcmt.quotation_media %>
  </p>

  <p>
    <strong>Quotation validity days:</strong>
    <%= prcmt.quotation_validity_days %>
  </p>

  <p>
    <strong>Eval method:</strong>
    <%= prcmt.eval_method %>
  </p>

  <p>
    <strong>Incoterm:</strong>
    <%= prcmt.incoterm_id %>
  </p>

  <p>
    <strong>Proposed delivery location:</strong>
    <%= prcmt.proposed_delivery_location %>
  </p>

  <p>
    <strong>Purch order number:</strong>
    <%= prcmt.purch_order_number %>
  </p>

  <p>
    <strong>Contract number:</strong>
    <%= prcmt.contract_number %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= prcmt.data %>
  </p>

  <p>
    <strong>Current workflow instance:</strong>
    <%= prcmt.current_workflow_instance_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= prcmt.state %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= prcmt.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= prcmt.updated_at %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= prcmt.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= prcmt.updated_by_id %>
  </p>

  <p>
    <strong>Bid bond:</strong>
    <%= prcmt.bid_bond %>
  </p>

  <p>
    <strong>Scope of supplies:</strong>
    <%= prcmt.scope_of_supplies %>
  </p>

  <p>
    <strong>Announced at:</strong>
    <%= prcmt.announced_at %>
  </p>

  <p>
    <strong>Cancelled at:</strong>
    <%= prcmt.cancelled_at %>
  </p>

  <p>
    <strong>Finished at:</strong>
    <%= prcmt.finished_at %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= prcmt.desc %>
  </p>

  <p>
    <strong>Internal remark:</strong>
    <%= prcmt.internal_remark %>
  </p>

  <p>
    <strong>Candidate selection remark:</strong>
    <%= prcmt.candidate_selection_remark %>
  </p>

  <p>
    <strong>Finish remark:</strong>
    <%= prcmt.finish_remark %>
  </p>

  <p>
    <strong>Prcmt phase evaluation visibility:</strong>
    <%= prcmt.prcmt_phase_evaluation_visibility %>
  </p>

  <p>
    <strong>Cancel remark:</strong>
    <%= prcmt.cancel_remark %>
  </p>

  <p>
    <strong>Aanwijzing visibility:</strong>
    <%= prcmt.aanwijzing_visibility %>
  </p>

  <p>
    <strong>Bid bond visibility:</strong>
    <%= prcmt.bid_bond_visibility %>
  </p>

  <p>
    <strong>Est total:</strong>
    <%= prcmt.est_total %>
  </p>

  <p>
    <strong>Prcmt criterion template:</strong>
    <%= prcmt.prcmt_criterion_template_id %>
  </p>

  <p>
    <strong>Internal org:</strong>
    <%= prcmt.internal_org_id %>
  </p>

  <p>
    <strong>Plant:</strong>
    <%= prcmt.plant_id %>
  </p>

  <p>
    <strong>Assessment method:</strong>
    <%= prcmt.assessment_method %>
  </p>

  <p>
    <strong>Business class:</strong>
    <%= prcmt.business_class %>
  </p>

  <p>
    <strong>Business field:</strong>
    <%= prcmt.business_field %>
  </p>

  <p>
    <strong>Tkdn percentage:</strong>
    <%= prcmt.tkdn_percentage %>
  </p>

  <p>
    <strong>Tender location:</strong>
    <%= prcmt.tender_location %>
  </p>

</div>
