<% content_for :content_header do %>
  <b>Procurement / Overview </b>
  <div class="d-flex gap-2 flex-wrap">

    <%= link_to prcmts_path do %>
      <button class="btn btn-sm btn-light-warning">
        <i class="ti ti-arrow-back-up"></i>
        Back
      </button>
    <% end %>
    <%= link_to prcmt_path(format: :pdf) do %>
      <button class="btn btn-sm btn-primary">
        <i class="ti ti-file-type-pdf"></i>
        Generate PDF
      </button>
    <% end %>
    <%#= link_to edit_prcmt_path(@prcmt), class: 'btn btn-sm btn-secondary' do %>
    <!--      <i class="ti ti-edit"></i>-->
    <!--      Edit-->
    <%# end %>
  </div>
<% end %>

<% content_for :content do %>
  <div class="d-flex flex-column gap-3">
    <%= render 'purch_reqn_items/list', items: @prcmt.prcmt_items.decorate %>
    <%= render @prcmt %>
    <div class="alert alert-warning d-flex flex-column gap-3 justify-content-between" role="alert">
      <% if @prcmt.is_active? %>
        <% if @purch_reqn.can_approve(current_user, :purch_groups) %>
          <div class="btn-group">
            <%= button_tag class: "btn btn-danger", data: { 'bs-toggle': 'modal', 'bs-target': '#approval-modal-fail' } do %>
              <i class="ti ti-x"></i>
              Fail
            <% end %>
            <%= button_tag class: "btn btn-warning", data: { 'bs-toggle': 'modal', 'bs-target': '#approval-modal-cancel' } do %>
              <i class="ti ti-exclamation-circle"></i>
              Cancel
            <% end %>
            <%= button_tag class: "btn btn-secondary", data: { 'bs-toggle': 'modal', 'bs-target': '#approval-modal-finish' } do %>
              <i class="ti ti-check"></i>
              Finish
            <% end %>
          </div>
        <% end %>
        <%= render partial: 'workflow_instance/approval', locals: { model: @prcmt, action: :fail } %>
        <%= render partial: 'workflow_instance/approval', locals: { model: @prcmt, action: :cancel } %>
        <%= render partial: 'workflow_instance/approval', locals: { model: @prcmt, action: :finish } %>
      <% else %>
        <div>Procurement is <%= @prcmt.status.downcase %></div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>