<div id="<%= dom_id vendor_type %>">
  <p>
    <strong>Ident name:</strong>
    <%= vendor_type.ident_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vendor_type.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= vendor_type.desc %>
  </p>

  <p>
    <strong>System:</strong>
    <%= vendor_type.system %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= vendor_type.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= vendor_type.updated_at %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= vendor_type.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= vendor_type.updated_by_id %>
  </p>

</div>
