<%= form_with(model: product_group) do |form| %>
  <% if product_group.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(product_group.errors.count, "error" ) %> prohibited this model from being saved:
      </h2>
      <ul>
        <% product_group.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6">
      <label for="code">Code</label>
      <%= form.text_field :code, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="name">Name</label>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label for="desc">Description</label>
      <%= form.text_area :desc, class: 'form-control', rows: 5 %>
    </div>

    <!-- Add more fields as needed -->

  </div>

  <%= form.submit 'Submit', class: 'btn btn-secondary mt-xxl-9' %>
<% end %>
