<div id="<%= dom_id product_group %>">
  <p>
    <strong>App:</strong>
    <%= product_group.app_id %>
  </p>

  <p>
    <strong>Party:</strong>
    <%= product_group.party_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product_group.code %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= product_group.from_date %>
  </p>

  <p>
    <strong>Thru date:</strong>
    <%= product_group.thru_date %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= product_group.desc %>
  </p>

</div>
