<% vendor.each_with_index do |v, i| %>
  <div class="d-flex">
    <div class="bg-primary-subtle align-content-center border-end text-center" style="width: 35px"><%= i + 1 %></div>
    <div class="w-100">
      <table class="table">
        <tr>
          <td style="width: 150px"><strong>Business Permit Type</strong></td>
          <td><%= get_value(v, 'legal_org_cred_type', 'name') %></td>
        </tr>
        <tr>
          <td><strong>Business Permit Proof</strong></td>
          <td><%= link_to 'View attachment file', get_value(v, 'doc_file', 'ext_url') %></td>
        </tr>
        <tr>
          <td><strong>Business Class</strong></td>
          <td><%= get_value(v, 'business_class', 'name') %></td>
        </tr>
        <tr>
          <td><strong>Business Permit Number</strong></td>
          <td><%= get_value(v, 'number') %></td>
        </tr>
        <tr>
          <td><strong>Valid from Date</strong></td>
          <td><%= get_value(v, 'from_date') %></td>
        </tr>
        <tr>
          <td><strong>Completion Date</strong></td>
          <td><%= get_value(v, 'thru_date') %></td>
        </tr>
        <tr>
          <td><strong>Issued By</strong></td>
          <td><%= get_value(v, 'issued_by') %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>