<% vendor.each_with_index do |v, i| %>
  <div class="d-flex">
    <div class="bg-primary-subtle align-content-center border-end text-center" style="width: 35px"><%= i + 1 %></div>
    <div class="w-100">
      <table class="table">
        <tr>
          <td style="width: 150px"><strong>Full Name</strong></td>
          <td><%= get_value(v, 'full_name') %></td>
        </tr>
        <tr>
          <td><strong>Citizenship</strong></td>
          <td><%= get_value(v, 'nationality', 'name') %></td>
        </tr>
        <tr>
          <td><strong>Share percentage</strong></td>
          <td><%= get_value(v, 'share_percentage') %> %</td>
        </tr>
        <tr>
          <td><strong>Email</strong></td>
          <td><%= vendor_emails(v) %></td>
        </tr>
        <tr>
          <td><strong>No. KTP</strong></td>
          <td><%= get_value(v, 'ktp', 'number') %></td>
        </tr>
        <tr>
          <td><strong>KTP Attachment</strong></td>
          <td><%= link_to 'View attachment file', get_value(v, 'files', 'ext_url') %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>