<div id="<%= dom_id vendor %>">
  <table class="table">

    <tr>
      <td><strong>Code:</strong></td>
      <td><%= vendor.code %></td>
    </tr>

    <tr>
      <td><strong>From date:</strong></td>
      <td><%= vendor.from_date %></td>
    </tr>

    <tr>
      <td><strong>Thru date:</strong></td>
      <td><%= vendor.thru_date %></td>
    </tr>

    <tr>
      <td><strong>Created at:</strong></td>
      <td><%= vendor.created_at %></td>
    </tr>

    <tr>
      <td><strong>Updated at:</strong></td>
      <td><%= vendor.updated_at %></td>
    </tr>

    <tr>
      <td><strong>Created by:</strong></td>
      <td><%= vendor.created_by_id %></td>
    </tr>

    <tr>
      <td><strong>Updated by:</strong></td>
      <td><%= vendor.updated_by_id %></td>
    </tr>

    <tr>
      <td><strong>Active vendor status:</strong></td>
      <td><%= vendor.active_vendor_status_id %></td>
    </tr>

    <tr>
      <td><strong>Data:</strong></td>
      <td><%= vendor.data %></td>
    </tr>

    <tr>
      <td><strong>Vendor type:</strong></td>
      <td><%= vendor.vendor_type_id %></td>
    </tr>

    <tr>
      <td><strong>State:</strong></td>
      <td><%= vendor.state %></td>
    </tr>

  </table>
</div>
