<table class="table">

  <tr>
    <td><strong>Ident name:</strong></td>
    <td><%= prcmt_type.ident_name %></td>
  </tr>

  <tr>
    <td><strong>Name:</strong></td>
    <td><%= prcmt_type.name %></td>
  </tr>

  <tr>
    <td><strong>Desc:</strong></td>
    <td><%= prcmt_type.desc %></td>
  </tr>

  <tr>
    <td><strong>System:</strong></td>
    <td><%= prcmt_type.system %></td>
  </tr>

  <tr>
    <td><strong>Visibility:</strong></td>
    <td><%= prcmt_type.visibility %></td>
  </tr>

</table>
