<div id="<%= dom_id purch_reqn_cancellation %>">
  <p>
    <strong>Purch reqn:</strong>
    <%= purch_reqn_cancellation.purch_reqn_id %>
  </p>

  <p>
    <strong>Current workflow instance:</strong>
    <%= purch_reqn_cancellation.current_workflow_instance_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= purch_reqn_cancellation.state %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= purch_reqn_cancellation.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= purch_reqn_cancellation.updated_by_id %>
  </p>

</div>
