<%= form_with(model: work_acceptance_note_item) do |form| %>
  <% if work_acceptance_note_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(work_acceptance_note_item.errors.count, "error") %> prohibited this work_acceptance_note_item from being saved:</h2>

      <ul>
        <% work_acceptance_note_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.label :work_acceptance_note_id, style: "display: block" %>
    <%= form.text_field :work_acceptance_note_id %>
  </div>

  <div>
    <%= form.label :parent_id, style: "display: block" %>
    <%= form.text_field :parent_id %>
  </div>

  <div>
    <%= form.label :purch_order_item_id, style: "display: block" %>
    <%= form.text_field :purch_order_item_id %>
  </div>

  <div>
    <%= form.label :commodity_list_id, style: "display: block" %>
    <%= form.number_field :commodity_list_id %>
  </div>

  <div>
    <%= form.label :product_group_id, style: "display: block" %>
    <%= form.text_field :product_group_id %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.text_field :product_id %>
  </div>

  <div>
    <%= form.label :qty, style: "display: block" %>
    <%= form.text_field :qty %>
  </div>

  <div>
    <%= form.label :measurement_unit_id, style: "display: block" %>
    <%= form.text_field :measurement_unit_id %>
  </div>

  <div>
    <%= form.label :unit_price, style: "display: block" %>
    <%= form.text_field :unit_price %>
  </div>

  <div>
    <%= form.label :price_unit, style: "display: block" %>
    <%= form.text_field :price_unit %>
  </div>

  <div>
    <%= form.label :subtotal, style: "display: block" %>
    <%= form.text_field :subtotal %>
  </div>

  <div>
    <%= form.label :sales_taxable, style: "display: block" %>
    <%= form.check_box :sales_taxable %>
  </div>

  <div>
    <%= form.label :amount_type, style: "display: block" %>
    <%= form.text_field :amount_type %>
  </div>

  <div>
    <%= form.label :wbsproject_id, style: "display: block" %>
    <%= form.text_field :wbsproject_id %>
  </div>

  <div>
    <%= form.label :cost_center_id, style: "display: block" %>
    <%= form.text_field :cost_center_id %>
  </div>

  <div>
    <%= form.label :from_currency_id, style: "display: block" %>
    <%= form.text_field :from_currency_id %>
  </div>

  <div>
    <%= form.label :from_amount, style: "display: block" %>
    <%= form.text_field :from_amount %>
  </div>

  <div>
    <%= form.label :to_currency_id, style: "display: block" %>
    <%= form.text_field :to_currency_id %>
  </div>

  <div>
    <%= form.label :to_amount, style: "display: block" %>
    <%= form.text_field :to_amount %>
  </div>

  <div>
    <%= form.label :delivery_date, style: "display: block" %>
    <%= form.date_field :delivery_date %>
  </div>

  <div>
    <%= form.label :desc, style: "display: block" %>
    <%= form.text_area :desc %>
  </div>

  <div>
    <%= form.label :specification, style: "display: block" %>
    <%= form.text_area :specification %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_area :note %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.text_field :data %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.label :process_qty, style: "display: block" %>
    <%= form.text_field :process_qty %>
  </div>

  <div>
    <%= form.label :process_unit_price, style: "display: block" %>
    <%= form.text_field :process_unit_price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
