<div id="<%= dom_id work_acceptance_note_item %>">
  <p>
    <strong>Number:</strong>
    <%= work_acceptance_note_item.number %>
  </p>

  <p>
    <strong>Work acceptance note:</strong>
    <%= work_acceptance_note_item.work_acceptance_note_id %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= work_acceptance_note_item.parent_id %>
  </p>

  <p>
    <strong>Purch order item:</strong>
    <%= work_acceptance_note_item.purch_order_item_id %>
  </p>

  <p>
    <strong>Commodity list:</strong>
    <%= work_acceptance_note_item.commodity_list_id %>
  </p>

  <p>
    <strong>Product group:</strong>
    <%= work_acceptance_note_item.product_group_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= work_acceptance_note_item.product_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= work_acceptance_note_item.qty %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= work_acceptance_note_item.measurement_unit_id %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= work_acceptance_note_item.unit_price %>
  </p>

  <p>
    <strong>Price unit:</strong>
    <%= work_acceptance_note_item.price_unit %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= work_acceptance_note_item.subtotal %>
  </p>

  <p>
    <strong>Sales taxable:</strong>
    <%= work_acceptance_note_item.sales_taxable %>
  </p>

  <p>
    <strong>Amount type:</strong>
    <%= work_acceptance_note_item.amount_type %>
  </p>

  <p>
    <strong>Wbsproject:</strong>
    <%= work_acceptance_note_item.wbsproject_id %>
  </p>

  <p>
    <strong>Cost center:</strong>
    <%= work_acceptance_note_item.cost_center_id %>
  </p>

  <p>
    <strong>From currency:</strong>
    <%= work_acceptance_note_item.from_currency_id %>
  </p>

  <p>
    <strong>From amount:</strong>
    <%= work_acceptance_note_item.from_amount %>
  </p>

  <p>
    <strong>To currency:</strong>
    <%= work_acceptance_note_item.to_currency_id %>
  </p>

  <p>
    <strong>To amount:</strong>
    <%= work_acceptance_note_item.to_amount %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= work_acceptance_note_item.delivery_date %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= work_acceptance_note_item.desc %>
  </p>

  <p>
    <strong>Specification:</strong>
    <%= work_acceptance_note_item.specification %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= work_acceptance_note_item.note %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= work_acceptance_note_item.data %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= work_acceptance_note_item.deleted_at %>
  </p>

  <p>
    <strong>Process qty:</strong>
    <%= work_acceptance_note_item.process_qty %>
  </p>

  <p>
    <strong>Process unit price:</strong>
    <%= work_acceptance_note_item.process_unit_price %>
  </p>

</div>
