<table class="table">
  <tr>
    <td>
      <strong>From currency:</strong>
    </td>
    <td>
      <%== currency_exchange_rate.from_currency_text %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>From amount:</strong>
    </td>
    <td>
      <%= currency_exchange_rate.from_amount %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>To currency:</strong>
    </td>
    <td>
      <%== currency_exchange_rate.to_currency_text %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>To amount:</strong>
    </td>
    <td>
      <%= currency_exchange_rate.to_amount %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>From time:</strong>
    </td>
    <td>
      <%= currency_exchange_rate.from_time %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Thru time:</strong>
    </td>
    <td>
      <%= currency_exchange_rate.thru_time %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Created by:</strong>
    </td>
    <td>
      <%= currency_exchange_rate.creator_name %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Updated by:</strong>
    </td>
    <td>
      <%= currency_exchange_rate.updater_name %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Issuer:</strong>
    </td>
    <td>
      <%= currency_exchange_rate.issuer %>
    </td>
  </tr>
</table>

