<div id="<%= dom_id purch_reqn_item_buyer %>">
  <p>
    <strong>App:</strong>
    <%= purch_reqn_item_buyer.app_id %>
  </p>

  <p>
    <strong>Purch reqn item:</strong>
    <%= purch_reqn_item_buyer.purch_reqn_item_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= purch_reqn_item_buyer.buyer_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= purch_reqn_item_buyer.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= purch_reqn_item_buyer.updated_by_id %>
  </p>

</div>
