<% content_for :content do %>
  <img src="https://api-eproc-langgak.sprcorp.com:443/shared/images/header.jpg" style="position: fixed; z-index: 0;top: 0; width: max-content; right: -50%; height: 100%;  filter: brightness(0.5);">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="row justify-content-center" style="margin: 10% 0;">
      <div class="col-md-5 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">
            <b class="text-center">Forgot password</b>
            <%= link_to root_path, class: 'text-nowrap logo-img text-center d-block py-3 w-100' do %>
              <%= image_tag "logo.png" %>
            <% end %>
            <form>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'form-control' %>
              </div>

              <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-2 rounded-2">Send instructions</button>
              <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-secondary w-100 py-8 mb-4 rounded-2' %>
              <div class="d-flex align-items-center justify-content-center">
                <%= render "users/shared/error_messages", resource: resource %>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render "layouts/wrapper" %>
