<p>
  Kepada Yth. <%= @model.finished? ? 'Bagian Pengadaan,' : @receiver[:display_role] %>
</p>

<p>
  <%= @model.finished? ? 'Proses persetujuan terhadap PR berikut ini : ' : 'Mohon Diperiksa dan Disetujui/Ditolak pengajuan Purchase Requisition berikut dalam sistem E-Procurement PT. SPR
  Langgak :' %>
</p>

<table>
  <tbody>
  <tr>
    <td>Nomor PR</td>
    <td>: <%= @model.number %></td>
  </tr>
  <tr>
    <td>Tanggal pengajuan PR</td>
    <td>: <%= @model.created_at %></td>
  </tr>
  <tr>
    <td>Deskripsi PR</td>
    <td>: <%= @model.desc %></td>
  </tr>
  </tbody>
</table>

<br>
<% if @model.finished? %>
  Telah selesai dan disetujui oleh pihak terkait, silakan <%= link_to 'login', Rails.application.routes.url_helpers.purch_reqn_url(@model, host: ActionMailer::Base.default_url_options[:host]) %> untuk diproses di pengadaan
<% else %>
  Untuk informasi lebih lanjut, silahkan <%= link_to 'login', Rails.application.routes.url_helpers.purch_reqn_url(@model, host: ActionMailer::Base.default_url_options[:host]) %>.
<% end %>
<br>
Terima kasih.

<p>E-Procurement PT. SPR Langgak</p>