<div id="<%= dom_id buyer %>">
  <p>
    <strong>App:</strong>
    <%= buyer.app_id %>
  </p>

  <p>
    <strong>Party:</strong>
    <%= buyer.party_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= buyer.code %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= buyer.from_date %>
  </p>

  <p>
    <strong>Thru date:</strong>
    <%= buyer.thru_date %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= buyer.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= buyer.updated_at %>
  </p>

</div>
