<div id="<%= dom_id product %>">
  <p>
    <strong>App:</strong>
    <%= product.app_id %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= product.product_type %>
  </p>

  <p>
    <strong>Product group:</strong>
    <%= product.product_group_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= product.measurement_unit_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= product.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= product.updated_at %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= product.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= product.updated_by_id %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= product.desc %>
  </p>

</div>
