<div id="<%= dom_id purch_order_item %>">
  <p>
    <strong>Purch order:</strong>
    <%= purch_order_item.purch_order %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= purch_order_item.number %>
  </p>

  <p>
    <strong>Purch reqn item:</strong>
    <%= purch_order_item.purch_reqn_item %>
  </p>

  <p>
    <strong>Prcmt item:</strong>
    <%= purch_order_item.prcmt_item %>
  </p>

  <p>
    <strong>Product group:</strong>
    <%= purch_order_item.product_group %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= purch_order_item.product %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= purch_order_item.qty %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= purch_order_item.measurement_unit %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= purch_order_item.unit_price %>
  </p>

  <p>
    <strong>Price unit:</strong>
    <%= purch_order_item.price_unit %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= purch_order_item.subtotal %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= purch_order_item.desc %>
  </p>

  <p>
    <strong>Specification:</strong>
    <%= purch_order_item.specification %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= purch_order_item.note %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= purch_order_item.data %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= purch_order_item.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= purch_order_item.updated_by %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= purch_order_item.delivery_date %>
  </p>

  <p>
    <strong>From currency:</strong>
    <%= purch_order_item.from_currency %>
  </p>

  <p>
    <strong>From amount:</strong>
    <%= purch_order_item.from_amount %>
  </p>

  <p>
    <strong>To currency:</strong>
    <%= purch_order_item.to_currency %>
  </p>

  <p>
    <strong>To amount:</strong>
    <%= purch_order_item.to_amount %>
  </p>

  <p>
    <strong>Purch order item type:</strong>
    <%= purch_order_item.purch_order_item_type %>
  </p>

  <p>
    <strong>Line total:</strong>
    <%= purch_order_item.line_total %>
  </p>

  <p>
    <strong>Sales taxable:</strong>
    <%= purch_order_item.sales_taxable %>
  </p>

  <p>
    <strong>Ancestry:</strong>
    <%= purch_order_item.ancestry %>
  </p>

  <p>
    <strong>Ancestry depth:</strong>
    <%= purch_order_item.ancestry_depth %>
  </p>

  <p>
    <strong>Amount type:</strong>
    <%= purch_order_item.amount_type %>
  </p>

  <p>
    <strong>Seq:</strong>
    <%= purch_order_item.seq %>
  </p>

  <p>
    <strong>Process qty:</strong>
    <%= purch_order_item.process_qty %>
  </p>

  <p>
    <strong>Item type:</strong>
    <%= purch_order_item.item_type %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= purch_order_item.parent %>
  </p>

  <p>
    <strong>Wbsproject:</strong>
    <%= purch_order_item.wbsproject %>
  </p>

  <p>
    <strong>Cost center:</strong>
    <%= purch_order_item.cost_center %>
  </p>

  <p>
    <strong>Process unit price:</strong>
    <%= purch_order_item.process_unit_price %>
  </p>

</div>
