<div id="<%= dom_id purch_reqn_partial %>">
  <p>
    <strong>App:</strong>
    <%= purch_reqn_partial.app_id %>
  </p>

  <p>
    <strong>Purch reqn item:</strong>
    <%= purch_reqn_partial.purch_reqn_item_id %>
  </p>

  <p>
    <strong>Partialable type:</strong>
    <%= purch_reqn_partial.partialable_type %>
  </p>

  <p>
    <strong>Partialable:</strong>
    <%= purch_reqn_partial.partialable_id %>
  </p>

  <p>
    <strong>Partial itemable type:</strong>
    <%= purch_reqn_partial.partial_itemable_type %>
  </p>

  <p>
    <strong>Partial itemable:</strong>
    <%= purch_reqn_partial.partial_itemable_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= purch_reqn_partial.qty %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= purch_reqn_partial.data %>
  </p>

  <p>
    <strong>State:</strong>
    <%= purch_reqn_partial.state %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= purch_reqn_partial.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= purch_reqn_partial.updated_by_id %>
  </p>

</div>
