<!-- Header Start -->
<header class="d-flex py-3 align-items-center <%= 'w-100' unless defined? :full %> px-9 justify-content-between position-relative z-1 bg-white">
  <div class="d-flex gap-2 w-100 align-items-center">
    <% if user_signed_in? %>
      <div class="nav-item d-block d-xl-none">
        <a class="nav-link sidebartoggler link-primary cursor-pointer" id="headerCollapse">
          <i class="ti ti-menu-2"></i>
        </a>
      </div>
      <div class="nav-item d-none d-xl-block" id="sidebar-toggler">
        <a class="nav-link link-primary cursor-pointer">
          <i class="ti ti-menu-2"></i>
        </a>
      </div>
    <% end %>
    <%= link_to root_path, class: 'text-nowrap logo-img' do %>
      <%= image_tag "logo.png", width: '120px' %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div style="text-align: center; width: 100%;">
      SPRL E-Procurement / <span style="font-weight: 700"><%= yield :page_title %></span>
    </div>
    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
      <ul class="navbar-nav flex-row ms-auto align-items-center gap-3 justify-content-end">
        <li>
          <span class="text-center"><%= current_user&.decorate&.full_name %></span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon-hover cursor-pointer" style="font-size: 1.3rem" data-bs-toggle="dropdown"
             aria-expanded="false">
            <i class="ti ti-user-circle"></i>
          </a>
          <div class="
                  dropdown-menu
                  dropdown-menu-end
                  dropdown-menu-animate-up
                " aria-labelledby="drop2">
            <div class="message-body">
              <!--            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">-->
              <!--              <i class="ti ti-user fs-6"></i>-->
              <!--              <p class="mb-0 fs-3">My Profile</p>-->
              <!--            </a>-->
              <!--            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">-->
              <!--              <i class="ti ti-mail fs-6"></i>-->
              <!--              <p class="mb-0 fs-3">My Account</p>-->
              <!--            </a>-->
              <%= link_to change_password_user_path(current_user), class: "d-flex align-items-center gap-2 dropdown-item" do %>
                <i class="ti ti-key fs-6"></i>
                <p class="mb-0 fs-3">Change password</p>
              <% end %>
              <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete },
                          class: 'btn btn-outline-primary mx-3 mt-2 d-block' %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="w-100 position-fixed d-flex gap-3 flex-wrap justify-content-center">
      <a href="">Home</a>
      <a href="">Terms and Conditions</a>
      <a href="">Registration Procedure</a>
      <a href="">Contact</a>
      <a href="">Announcement</a>
    </div>
  <% end %>
</header>

<% if content_for?(:'content_header') %>
  <div style="padding: 7px 20px;" class="d-flex justify-content-between align-items-center">
    <%= yield :content_header %>
  </div>
<% end %>
<!-- Header End -->